*,
*::after,
*::before{
  box-sizing: border-box;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  justify-content: center;
}

body {
  max-width: 1440px;
  font-weight: 600;
  background: aqua;
}
.wrapper {
  height: 3rem;
  background-color: black;
  align-items: center;
  border-radius: 0rem 0rem 1rem 1rem;
}
.logo{
  width: 3rem;
  color: white;
}
.title{
  color: wheat;
  margin-left: auto;
}
.cart{
  width: 3rem;
  margin-left: auto;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Сортировка */
/* По значению */
ul{
  display: flex;
}

li{
  list-style: none;
}
.btn{
  border: 0.1rem solid red;
  border-radius: 0.3rem;
}
.btn:hover{
  cursor: pointer;
}

/* По диапозону */
.settings{
  display: block;
  border: 0.2rem solid;
  border-radius: 1rem;
}
.as{
  display: flex;
}

/* поиск */




/* Карточка авто */

.card{
  border: white;
}
.section-1{
  text-align: center;
  float: left;
}
.img-auto{
  width: 20rem;
}
